header {
  position: fixed; /* Fixa o header na parte superior */
  top: 0; /* Posiciona no topo */
  width: 100%; /* Faz o header ocupar toda a largura da página */
  background-color: #375b61; /* Define uma cor de fundo para o header */
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
  padding: 1rem 0; /* Adiciona espaçamento interno ao header */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para destacar */
}

nav ul {
  display: flex; /* Coloca os itens do menu em linha */
  justify-content: center; /* Centraliza os itens do menu horizontalmente */
  gap: 4rem; /* Espaçamento entre os itens */
  list-style: none; /* Remove os marcadores da lista */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove o padding padrão */
}

nav ul a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: white; /* Define a cor do texto */
  font-size: 18px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  transition: color 0.3s ease; /* Adiciona uma transição suave ao passar o mouse */
}

nav ul a:hover {
  color: #99d3df; /* Muda a cor ao passar o mouse */
}

@media (max-width: 680px) {
  nav ul {
    gap: 1rem; /* Espaçamento entre os itens */
  }
}
